body {
    background-color:rgb(109, 116, 121);
    font-family: Arial;
    color: white;
    background-image: url('Fondotarea1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   
}
h1{
    background-color: rgb(27, 176, 221);
    text-align: center;
    color: white;

}

div{

   
   background-color: rgb(30, 167, 201);
    float: left;
    color: beige;
    height: 100%;;
    width: 25%;
    
    margin: 1%;
}


section{
   text-align: center;
   float:Center;
    padding: 40px;
    width: 99%;
  
    height: 90%;
    

    
}



